.room_container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgba(255,255,255,0.6);
}

.copied_message {
  background: #efefef;
  border-radius: 0px 0px 9px 9px;
  padding: 4px 10px;
  margin-right: 12px;
  z-index: -1;
  position: relative;
  bottom: 35px;
  animation: upDownUp 1.5s;
}

.copied_message p {
  margin: 0;
  font-family: 'Poppins';
  color: #868686;
  font-size: 15px;
}

.chat_section_container {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 21px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  bottom: 10px;
  transition: 0.2s;
}

.collapsed_section {
  height: 58px;
  width: 240px;
}

.disconnected_section {
  position: absolute;
  text-align: center;
  width: 25%;
  background: #ae3333;
  border-radius: 11px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
  bottom: 10px;
  left: 10px;
  font-family: 'Poppins';
  color: white;
}

.expanded_section {
  height: 450px;
  width: 380px;
}

.chat_collapse_button {
  position: absolute;
  right: 21px;
  transition: 0.2s;
  padding: 3px;
  border-radius: 8px;
  width: 28px;
  transform: rotate(180deg);
}

.chat_collapse_button:hover {
  cursor: pointer;
}

.flipped_y {
  transform: rotate(0deg);
}

.chat_label_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat_label_paragraph {
  font-weight: 700;
  color: #AFAFAF;
  margin-left: 21px;
  font-size: 16px;
  font-family: 'Poppins';
}

.chat_label_container button {
  border: none;
  padding: 3px 13px;
  color: #7d7d7d;
  background: #D5D5D5;
  border-radius: 8px;
  font-family: 'Poppins';
  font-size: 15px;
  margin-left: 11px;
  transition: 0.2s;
}

.chat_label_container button:hover {
  background: #DFDFDF;
}

.chat_label_container button:active {
  background: #D1D1D1;
}

.copy_icon_img {
  padding: 0px 25px 0px 13px;
  transition: 0.2s;
}
.copy_icon_img:hover {
  cursor: pointer;
}

.room_name {
  color: #AFAFAF;
  font-family: 'Poppins';
  font-size: 15px;
}

.new_message_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 12px;
}

.new_message_input {
  border: none;
  border-radius: 11px;
  padding: 0 20px;
  height: 47px;
  font-size: 16px;
  width: 80%;
  color: #9F9F9F;
  font-family: 'Poppins';
}

.new_message_input:focus {
  outline: none;
}

.new_message_button img {
  width: 25px;
}

.new_message_button {
  background-color: #6d90b9;
  border-radius: 11px;
  margin-left: 10px;
  padding: 10px;
  transition: 0.2s;
}

.new_message_button:hover {
  background-color: linear-gradient(10deg, #6d90b9, #bbc7dc);;
}

.new_message_button:active {
  background-color: #5c81ab;
}

.new_message_button img {
  user-select: none;
}

.control_button_container {
  background: #F5F5F5;
  border-radius: 11px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
}

.management_buttons {
  right: 10px;
  top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mgb_main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle_buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: 10px;
}

.messages_container {
  flex-grow: 1;
  height: 80%;
  margin-left: 11px;
  margin-right: 11px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message_container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.message_align_left {
  align-items: flex-start;
}

.message_align_right {
  align-items: flex-end;
}

.message_left_styles {
  background: #e8e8e8;
  color: #767676;
}

.message_right_styles {
  background: #6d90b9;
  color: white;
}

.message_title {
  color: #989898;
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 2px 10px;
  padding: 0 10px;
  font-family: 'Poppins';
}

.message_content {
  border-radius: 11px;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  padding: 10px 30px 10px 20px;
  font-family: 'Poppins';
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 188, 164, 0.1);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}

.overlay_container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 82, 201, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.toggle_text {
  font-family: 'Poppins';
  font-size: 11px;
  text-align: center;
  margin: 0;
  user-select: none;
}

.on {
  color: #767676;
}

.off {
  color: #D8D8D8;
}

.participants_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  height: 200px;
}

.participants_paragraph {
  color: black;
  text-align: start;
  font-weight: 500;
  margin-left: 40px;
}

.participants_separator_line {
  width: calc(100% - 80px);
  height: 2px;
  background-color: #e5e5e5;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.participants_section_container {
  height: 100%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.participants_label_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.participants_label_paragraph {
  font-weight: 700;
  color: #9ca5ab;
  margin-left: 40px;
  font-size: 16px;
}

.local_screen_share_preview {
  position: absolute;
  width: 15%;
  height: 90%;
  background-color: black;
  border-radius: 8px;
  border: 2px solid blue;
  left: 1%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_buttons_container {
  width: 100vw;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.video_button_container {
  margin: 5px 3px 3px 3px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transition: 0.2s;
}

.video_button_image {
  height: 25px;
  padding: 10px 10px 0px 10px;
  user-select: none;
}

.video_button_container:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}

.video_button_container:active {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}

.vertical_separator {
  background: #D8D8D8;
  width: 3px;
  height: 30px;
  border-radius: 50px;
  margin-bottom: 3px;
}

.video_button_end {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  color: white;
  background: #ae3333;
  transition: 0.2s;
  font-family: 'Poppins';
  padding: 8px 23px;
  font-weight: bold;
  margin: 8px 14px 8px 11px;
}

.video_button_end:hover {
  background: #d73d3d;
}

.video_button_end:active {
  background: #ae3333;
}

.videos_container {
  height: 90%;
  width: 100%;
  background-color: #f6f9fb;
  position: relative;
  border-radius: 0px 0px 25px 25px;
}

.participants {
  display: flex;
  width: 100%;
  height: 100%;
}

.participant {
  flex-grow: 1;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.screen_share_track {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.room {
  width: 100%;
  height: 100%;
}

video {
  border-radius: 5px;
}

.video-frame-container {
  position: relative;
}

.video-frame-container img {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.popup-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0% 10%;
  width: 80%;
}

.popup {
  background-color: white;
  padding: 5%;
  border-radius: 11px;
  position: relative;
}

.popup button {
  position: absolute;
  top: 20px;
}

video {
  border-radius: 11px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
}

.room_label {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 4;
}

.room-id {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.room_label_paragraph {
  font-size: 17px;
  color: white;
  margin-top: 0;
  padding: 18px 38px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  border-radius: 0px 0px 15px 15px;
}

.video_track_container:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
}

.video_track_container:first-child:nth-last-child(2),
.video_track_container:first-child:nth-last-child(2)~.video_track_container {
  width: 50%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(3),
.video_track_container:first-child:nth-last-child(3)~.video_track_container {
  width: 50%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(4),
.video_track_container:first-child:nth-last-child(4)~.video_track_container {
  width: 50%;
  height: 50%;
}

.video_track_container:first-child:nth-last-child(5),
.video_track_container:first-child:nth-last-child(5)~.video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(6),
.video_track_container:first-child:nth-last-child(6)~.video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(7),
.video_track_container:first-child:nth-last-child(7)~.video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(8),
.video_track_container:first-child:nth-last-child(8)~.video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(9),
.video_track_container:first-child:nth-last-child(9)~.video_track_container {
  width: 33%;
  height: 33%;
}

.video_section_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

@keyframes upDownUp {
  0% { bottom: 35px; }
  50% { bottom: 0px; }
  70% { bottom: 0px }
  100% { bottom: 35px; }
}