
/* https://stackoverflow.com/questions/49237597/force-equal-width-columns-in-css-flexbox */

/* the row! */
.video-stream-container {
    display: flex;
    flex-flow: row;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.text_button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
}

/* .video-frame-container is defeind in RoomPage.css as just 'relative' */
.video-frame-container {
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 11px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.16);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: black;
    height: 74vh;
}

.solo {
    max-width: 60vw;
}

.lots {
    max-width: 30vw;
}

.video-frame-elem {
    height: 100%;
}

.temp_buttons {
    position: absolute;
    left: 0;
    bottom: 0;
}