
/* https://stackoverflow.com/questions/49237597/force-equal-width-columns-in-css-flexbox */

/* the row! */
.video-stream-container {
    display: flex;
    flex-flow: row;
    max-height: 85vh;
    justify-content: center;
}

/* .video-frame-container is defeind in RoomPage.css as just 'relative' */
.video-frame-container {
    position: relative; 
    padding: 10px;
    margin:   5px;
    overflow: hidden;
}

.video-frame-elem {
    transform: rotateY(180deg) scale(1.2,1.2) translate(0%,0%);
}


